---
import type {CollectionEntry} from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import GameCard from "@components/GameCard";
import {SITE} from "@config";

export interface Props {
    currentPage: number;
    totalPages: number;
    paginatedGames: CollectionEntry<"game">[];
}

const {currentPage, totalPages, paginatedGames} = Astro.props;
---

<Layout title={`Games | ${SITE.title}`}>
    <Header activeNav="games"/>
    <Main pageTitle="Games" pageDesc="All the games Huy made">
        <ul>
            {
                paginatedGames.map(({data, slug}) => (
                        <GameCard href={`/games/${slug}/`} frontmatter={data}/>
                ))
            }
        </ul>
    </Main>

    <Pagination
        {currentPage}
        {totalPages}
        prevUrl={`/games${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
        nextUrl={`/games/${currentPage + 1}/`}
    />

    <Footer noMarginTop={totalPages > 1}/>
</Layout>
